In [10]:
count  = 1

print("table of 2 is")
while count<=10:
    print(count*2)
    count+=1

print("loop ended")

table of 2 is
2
4
6
8
10
12
14
16
18
20
loop ended

In [21]:
count  = 1

n=int(input("enter the table you want: "))
print("table of",n,"is")
while count<=10:
    print(n ,"x", count,"=", count*n)
    count+=1

print("loop ended")

enter the table you want: 4
table of 4 is
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
loop ended

In [11]:
count = 0
while count<9:
    count+=1
    print("number",count)
print("loop ended")

number 1
number 2
number 3
number 4
number 5
number 6
number 7
number 8
number 9
loop ended

In [17]:
 v

In [3]:
list1[2]

'shraddha'

In [13]:
n=0
while n<len(list1):
    print("name: ",list1[n])
    n+=2

name:  abhishek
name:  shraddha
name:  swarup
name:  swapnil
name:  akbar

In [22]:
n=0
for i in range(len(list1)):
    if n%2==0:
        print("name: ",list1[n])
    n+=1

name:  abhishek
name:  shraddha
name:  swarup
name:  swapnil
name:  akbar

In [5]:
list2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [16]:
n=0
print("the odd numbers are")
for i in range(len(list2)):
    if (list2[n]%2)!=0:
        print(list2[n])
    n+=1

the odd numbers are
1
3
5
7
9
11
13
15
17
19

In [18]:
n=0
for i in range(len(list1)):
    if n%2==0:
        print("name: ",list1[n])
        n+=1

name:  abhishek

In [19]:
print(list1)

['abhishek', 'milind', 'shraddha', 'renuka', 'swarup', 'aditya', 'swapnil', 'sahil', 'akbar']

In [20]:
n=0
for i in range(len(list1)):
    if n%2==0:
        print("name: ",list1[n])
    n+=1

name:  abhishek
name:  shraddha
name:  swarup
name:  swapnil
name:  akbar

In [42]:
n=0
print("the numbers divisible by 5 are")
for i in range(100):
    if (i%5)==0:
        print(i," ",end="")
    n+=1

the numbers divisible by 5 are
0  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95

In [43]:
n=0
print("the numbers not divisible by 6 are")
for i in range(100):
    if (i%6)!=0:
        print(i," ",end="")
    n+=1

the numbers not divisible by 6 are
1  2  3  4  5  7  8  9  10  11  13  14  15  16  17  19  20  21  22  23  25  26  27  28  29  31  32  33  34  35  37  38  39  40  41  43  44  45  46  47  49  50  51  52  53  55  56  57  58  59  61  62  63  64  65  67  68  69  70  71  73  74  75  76  77  79  80  81  82  83  85  86  87  88  89  91  92  93  94  95  97  98  99

In [8]:
import random
print(random.sample(range(1,100),50))

[67, 54, 96, 88, 11, 13, 20, 92, 68, 29, 15, 37, 36, 86, 8, 40, 50, 9, 87, 18, 56, 82, 45, 55, 41, 65, 76, 78, 30, 75, 2, 43, 12, 89, 59, 98, 3, 27, 77, 70, 22, 19, 91, 24, 1, 49, 26, 71, 52, 53]

In [58]:
import random
print("the random numbers divisible by 10 are")
for i in range(100):
    n = random.randint(1,100)
    if (n%10)==0:
        print(n,"",end="")

the random numbers divisible by 10 are
70 60 90 80 80 70 70 80 100 40 70 50 50 100

In [7]:
import random
print(random.randint(1,100))

26

In [22]:
import random
count1=0
count2=0
for i in range(10):
    n = random.randint(1,10)
    if (n%2)==0:
        print("even:",n)
        count1+=1
    else:
        print("odd: ",n)
        count2+=1
print("total odd numbers are:",count2)
print("total even numbers are:",count1)

odd:  1
odd:  1
odd:  7
odd:  7
odd:  3
even: 2
odd:  3
even: 2
odd:  1
even: 4
total odd numbers are: 7
total even numbers are: 3